%div{ id: dom_id(pet_owner) }
  %p
    %strong First name:
    = pet_owner.first_name
  %p
    %strong Last name:
    = pet_owner.last_name
  %p
    %strong Email:
    = pet_owner.email
  %p
    %strong Cell number:
    = pet_owner.cell_number
