%p{style: "color: green"}= notice

%h1 Pet owners

#pet_owners
  - @pet_owners.each do |pet_owner|
    = render pet_owner
    %p
      = link_to "Show this pet owner", pet_owner

.link-button
  = link_to "New pet owner", new_pet_owner_path

:javascript
  try {
    showDiv()
  } catch(err) {
  }

  addEventListener('load', () => {
    showDiv()
  })

  function showDiv () {
    const pet_owners = document.querySelector("#pet_owners")
    if (pet_owners.children.length === 0) {
      const dataNotFound = document.createElement('div')
      dataNotFound.classList.add('data-not-found')
      dataNotFound.innerHTML = 'Nenum pet owner encontrado'
      pet_owners.appendChild(dataNotFound)
    }
  }