<div id="<%= dom_id animal %>">
  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= animal.observation %>
  </p>

  <p>
    <strong>Pet owner:</strong>
    <%= animal.pet_owner_id %>
  </p>

</div>
