<div id="<%= dom_id veterinary %>">
  <p>
    <strong>First name:</strong>
    <%= veterinary.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= veterinary.last_name %>
  </p>


  <p>
  <strong>Tipo:</strong>
  <%= veterinary.admin == true ? "Admin" : "Comum" %>
</p>

</div>
