<div id="<%= dom_id veterinary %>">
  <p>
    <strong>First name:</strong>
    <%= veterinary.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= veterinary.last_name %>
  </p>

</div>
