<h1>Editing veterinary</h1>

<%= render "form", veterinary: @veterinary %>

<br>

<div>
  <%= link_to "Show this veterinary", @veterinary %> |
  <%= link_to "Back to veterinaries", veterinaries_path %>
</div>
