<p style="color: green"><%= notice %></p>

<h1>Veterinaries</h1>

<div id="veterinaries">
  <% @veterinaries.each do |veterinary| %>
    <%= render veterinary %>
    <p>
      <%= link_to "Show this veterinary", veterinary %>
    </p>
  <% end %>
</div>

<%= link_to "New veterinary", new_veterinary_path %>
