%p{style: "color: green"}= notice

%h1 Veterinaries

- if current_user.admin 
  #veterinaries
    %table
      - @veterinaries.each do |veterinary|
        = render veterinary
        
.link-button
  = link_to "New veterinary", new_veterinary_path
