*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	width: 100vw;
	height: 100vh;
	overflow: auto;
	display: grid;
	grid-template-areas: 
	"sidebar content content"
	;
	grid-template-columns: 200px 1fr;
}

main{
	height: 100%;
	grid-area: "content";
	max-height: 100vh;
	overflow: auto;
}

.header{
  	height: 100px;
  	width: 100%;
  	background: rgb(255, 241, 241);
  	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header-links{
	list-style-type: none;
	width: 35vw;
	display: flex;
	justify-content: space-between;
}

.header-links a{
	color: black;	
  	text-decoration: none;
}

img{
	width: 100px;
}

#veterinaries{
	margin-left: 15rem;
}

.content{

}