%a.toogle-button{href: '#', onclick: 'hideHeader(); return false;'} Mudar
%header.header
	%a.link-header-logo{ :href => "/", :title => "Logo" }
		%div.logo_header
			%img{:src => asset_path("logo.png")}

	%li.links__list_header
		%a.links__list_header{ :href => "/exams", :title => "Meet the Team" }
			%span Exams

		%a.links__list_header{ :href => "/pet_owners", :title => "Meet the Team" }
			%span Pet Owners

		%a.links__list_header{ :href => "/animals", :title => "Meet the Team" }
			%span Animals

		%a.links__list_header{ :href => "/veterinaries", :title => "Meet the Team" }
			%span Veterinaries

	%div.user_header
		- if current_user.present?
			%a.user_link{ :href => "/veterinaries/#{current_user.id}/edit", :title => "Login" }
				%img.avatar{:src => "https://robohash.org/#{current_user.first_name}/"}
			%p
				= current_user.first_name if current_user.present?

			- if current_user.present?
				%a.logout-user{ :href => "/logout", :title => "Logout" }
					%span
						Logout

:javascript
	function hideHeader(){
		const header = document.querySelector(".header")
		header.style.display == "none" ? header.style.display = "flex" : header.style.display = "none"
	}