%header.header

	%img{:src => asset_path("logo.png")}/

	%li.header-links
		%a{ :href => "/exams", :title => "Meet the Team" }
			%span Exams

		%a{ :href => "/pet_owners", :title => "Meet the Team" }
			%span Pet Owners

		%a{ :href => "/animals", :title => "Meet the Team" }
			%span Animals

		%a{ :href => "/veterinaries", :title => "Meet the Team" }
			%span Veterinaries